 {{template "common/header.html"}}

    <div id="contenedor">
        <div class="login_box">
            <div class="box"><a id="c_loginbox"><i class="icon-close2"></i></a>
                <h3>Login to your account</h3>
                <form method="post" action="https://watchtvepisodes.me/warlam/">
                    <fieldset class="user"><input type="text" name="log" placeholder="Username"></fieldset>
                    <fieldset class="password"><input type="password" name="pwd" placeholder="Password"></fieldset>
                    <label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label>
                    <fieldset class="submit"><input type="submit" value="Log in"></fieldset>
                    <a class="register" href="https://watchtvepisodes.me/account-3/?action=sign-in">Register a new
                        account</a> <label><a class="pteks"
                                              href="https://watchtvepisodes.me/warlam/?action=lostpassword">Lost your
                            password?</a></label> <input type="hidden" name="redirect_to"
                                                         value="https://watchtvepisodes.me/movies/"></form>
            </div>
        </div>
        <div class="module">
            <div class="content">
                <div id="featload" class="load_modules">Loading..</div>
                <header class="archive_post"><h1>Shows </h1><span>{{.moviesCount}}</span></header>

                <div id="archive-content" class="animation-2 items">
                    {{range .moviesList}}
                    <article id="id" class="item movies">
                        <div class="poster"><img
                                    src="{{.ImgUrl}}"
                                    alt="The Scarapist">
                            <div class="rating">
                                <span class="icon-star2"></span>
                                {{.MovieMark}}</div>
                            <div class="mepo"></div>
                            <a href="/episode/{{.Id}}">
                                <div class="see"></div>
                            </a></div>
                        <div class="data"><h3>
                                <a href="/episode/{{.Id}}">
                                    {{.DeName}}
                                </a></h3>
                        </div>
                        <div class="animation-1 dtinfo">
                            <div class="title"><h4>{{.DeName}}</h4></div>
                            <div class="metadata"><span class="imdb">Mark:{{.MovieMark}}</span>
                            </div>
                            <div class="texto">
                                {{.DeInfo}}
                            </div>
                        </div>
                    </article>
                    {{end}}
                </div>


                <div class="pagination">
                    <span>Page {{.PageIndex}} of {{.PageCount}}</span>
                    <span class="current">{{.PageIndex}}</span>
                    <a href='/movies/page/{{add .PageIndex 1}}/' class="inactive">{{add .PageIndex 1}}</a>
                    <a href='/movies/page/{{add .PageIndex 1}}/' class="inactive">{{add .PageIndex 2}}</a>
                    <a class='arrow_pag' href="/movies/page/{{add .PageIndex 2}}/">
                        <i id='nextpagination' class='icon-caret-right'>{{add .PageIndex 1}}</i>
                    </a>
                </div>
                <div class='resppages'>
                    <a href="https://watchtvepisodes.me/movies/page//">
                        <span class="icon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="sidebar scrolling">
                <div class="fixed-sidebar-blank">
                    <aside id="media_image-7" class="widget widget_media_image"><a href="/network/netflix/"><img
                                    width="300" height="169"
                                    src="https://img1.ak.crunchyroll.com/i/spire4/f26a43ba646fa169a232726fe578d0cd1279145968_thumb.jpg"
                                    class="image wp-image-93020 attachment-medium size-medium" alt=""
                                    style="max-width: 100%; height: auto;"
                                    srcset=""
                                    sizes="(max-width: 300px) 100vw, 300px"/></a></aside>
                        <div class="textwidget custom-html-widget"><a
                                    href="https://watchtvepisodes.me/tvshows/the-walking-dead/"><img
                                        src="https://img1.ak.crunchyroll.com/i/spire1/445d2fd74c924440b1ca61600789e2861383180162_thumb.jpg" alt="" width="300" height="550"
                                        class="alignnone size-full wp-image-95958"/></a></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
 {{template "common/footer.html"}}
