<footer class="main">
    <div class="fbox">
        <div class="fcmpbox">
            <div class="primary">
                <div class="columenu">
                    <div class="item"><h3>Useful Links</h3>
                        <div class="menu-useful-links-container">
                            <ul id="menu-useful-links" class="menu">
                                <li id="menu-item-824"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-824"><a
                                            href="/requests">Request Content !</a></li>
                                <li id="menu-item-361"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361">
                                    <a href="https://watchtvepisodes.me/top-imdb/">TOP IMDb</a></li>
                                <li id="menu-item-368"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368">
                                    <a href="https://watchtvepisodes.me/ratings/">Ratings</a></li>
                                <li id="menu-item-369"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369">
                                    <a href="https://watchtvepisodes.me/trending/">Trending</a></li>
                                <li id="menu-item-639"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-639"><a
                                            href="https://www.pogdesign.co.uk/cat/">TV Calendar</a></li>
                                <li id="menu-item-640"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-640"><a
                                            href="https://www.yifysubtitles.com/">Subtitles</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item"><h3>About US</h3>
                        <div class="menu-about-us-container">
                            <ul id="menu-about-us" class="menu">
                                <li id="menu-item-68979"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68979">
                                    <a href="https://watchtvepisodes.me/oscar-winners/">Oscar Winners</a></li>
                                <li id="menu-item-364"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364">
                                    <a href="https://watchtvepisodes.me/contact/">Send a suggestion</a></li>
                                <li id="menu-item-62915"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62915">
                                    <a href="/about-us/">Click for About</a></li>
                                <li id="menu-item-363"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363">
                                    <a href="https://watchtvepisodes.me/account/">Account</a></li>
                                <li id="menu-item-810"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-810">
                                    <a href="https://watchtvepisodes.me/frequently-asked-questions/">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item"><h3>Parteners</h3>
                        <div class="menu-parteners-container">
                            <ul id="menu-parteners" class="menu">
                                <li id="menu-item-110505"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110505">
                                    <a href="http://verystream.com">VeryStream.com</a></li>
                                <li id="menu-item-45151"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45151">
                                    <a href="http://oload.stream">Openload</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fotlogo">
                    <div class="logo"><img src="https://watchtvepisodes.me/wp-content/uploads/2019/02/Logomare.png"
                                           alt="WatchTVEpisodes | Watch Openload Movies Tv Shows Online For Free"/>
                    </div>
                    <div class="text"><p>Disclaimer: This site does not store any files on its server. All contents
                            are provided by non-affiliated third parties. In case of conflict get in touch with the
                            original file owners or host sites : Openload.co and VeryStream.com</p></div>
                </div>
            </div>
            <div class="copy">WatchTVEpisodes is the best free social movie network that lets you to manage your
                Movies and TV Show in a very convenient way. Our database s got over 10,022 Movies and 1,985 TV
                Series. Unlimited movie lists, watch lists and favorites. Ability to move your movies from one list
                to another, flexible sorting. You may follow new episode updates easily, with a single click and get
                free email notifications about TV Show updates. Watch movies by browsing through our movie index. It
                is very easy to use and flexible. This gives you the possibility to watch the movie online for free.
                Entertainment, Celebrity, Politics, Tech, Health, Movie and TV Show news submitted by users.
                Copyright (C) 2019 WatchTVEpisodes.me
            </div>
            <span class="top-page"><a id="top-page"><i class="icon-angle-up"></i></a></span>
            <div class="fmenu">
                <ul id="menu-jos-dreapta" class="menu">
                    <li id="menu-item-329"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="/">Home</a>
                    </li>
                    <li id="menu-item-5664"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5664"><a
                                href="https://watchtvepisodes.me/contact/">Contact ✉️</a></li>
                    <li id="menu-item-68126"
                        class="menu-item menu-item-type-taxonomy menu-item-object-dtquality menu-item-68126"><a
                                href="https://watchtvepisodes.me/quality/bluray/">BluRay</a></li>
                    <li id="menu-item-327"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a
                                href="https://watchtvepisodes.me/ratings/">Ratings</a></li>
                    <li id="menu-item-328"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a
                                href="https://watchtvepisodes.me/trending/">Trending</a></li>
                    <li id="menu-item-12634"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12634"><a
                                href="https://watchtvepisodes.me/top-imdb/">TOP IMDb</a></li>
                    <li id="menu-item-807"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-807"><a
                                href="https://watchtvepisodes.me/frequently-asked-questions/">FAQ</a></li>
                    <li id="menu-item-62170"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-62170">
                        <a href="https://watchtvepisodes.me/privacy-policy/">Privacy Policy</a></li>
                    <li id="menu-item-62914"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62914"><a
                                href="https://watchtvepisodes.me/about-us/">About Us</a></li>
                    <li id="menu-item-28"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a
                                href="/dmca">DMCA ⛔️</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
<script type='text/javascript'>jQuery(document).ready(function ($) {
        $('#featured-titles').owlCarousel({
            autoPlay: 3500,
            items: 4,
            stopOnHover: true,
            pagination: false,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [980, 4],
            itemsTablet: [768, 3],
            itemsTabletSmall: false,
            itemsMobile: [479, 2]
        });
        $('.nextf').click(function () {
            $('#featured-titles').trigger('owl.next')
        });
        $('.prevf').click(function () {
            $('#featured-titles').trigger('owl.prev')
        });
        $('#dt-episodes').owlCarousel({
            autoPlay: false,
            pagination: false,
            items: 3,
            stopOnHover: true,
            itemsDesktop: [900, 3],
            itemsDesktopSmall: [750, 3],
            itemsTablet: [500, 2],
            itemsMobile: [320, 1]
        });
        $('.next').click(function () {
            $('#dt-episodes').trigger('owl.next')
        });
        $('.prev').click(function () {
            $('#dt-episodes').trigger('owl.prev')
        });
        $('#dt-seasons').owlCarousel({
            autoPlay: false,
            items: 5,
            stopOnHover: true,
            pagination: false,
            itemsDesktop: [1199, 5],
            itemsDesktopSmall: [980, 5],
            itemsTablet: [768, 4],
            itemsTabletSmall: false,
            itemsMobile: [479, 3]
        });
        $('.next2').click(function () {
            $('#dt-seasons').trigger('owl.next')
        });
        $('.prev2').click(function () {
            $('#dt-seasons').trigger('owl.prev')
        });
        $('#slider-movies').owlCarousel({
            autoPlay: false,
            items: 2,
            stopOnHover: true,
            pagination: true,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [600, 1],
            itemsMobile: [479, 1]
        });
        $('#slider-tvshows').owlCarousel({
            autoPlay: false,
            items: 2,
            stopOnHover: true,
            pagination: true,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [600, 1],
            itemsMobile: [479, 1]
        });
        $('#slider-movies-tvshows').owlCarousel({
            autoPlay: false,
            items: 2,
            stopOnHover: true,
            pagination: true,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [600, 1],
            itemsMobile: [479, 1]
        });
        $('.reset').click(function (event) {
            if (!confirm(dtGonza.reset_all)) {
                event.preventDefault()
            }
        });
        $('.addcontent').click(function (event) {
            if (!confirm(dtGonza.manually_content)) {
                event.preventDefault()
            }
        });
    });</script>
<script type='text/javascript'>
    var wpcf7 = {
        "apiSettings": {
            "root": "https:\/\/watchtvepisodes.me\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        }, "cached": "1"
    };
</script>
<script type='text/javascript'
        src='https://watchtvepisodes.me/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript'
        src='https://watchtvepisodes.me/wp-content/themes/dooplay/assets/js/min/front.scripts.2.2.0.js'></script>
<script type='text/javascript'>
    var dtGonza = {
        "api": "https:\/\/watchtvepisodes.me\/wp-json\/dooplay\/search\/",
        "glossary": "https:\/\/watchtvepisodes.me\/wp-json\/dooplay\/glossary\/",
        "nonce": "e17f2b22f3",
        "area": ".live-search",
        "button": ".search-button",
        "more": "View all results",
        "mobile": "false",
        "reset_all": "Really you want to restart all data?",
        "manually_content": "They sure have added content manually?",
        "loading": "Loading..",
        "loadingplayer": "Loading player..",
        "selectaplayer": "Select a video player",
        "playeradstime": null,
        "autoplayer": "1",
        "livesearchactive": ""
    };
</script>
<script type='text/javascript'
        src='https://watchtvepisodes.me/wp-content/themes/dooplay/assets/js/min/front.livesearch.2.2.0.js'></script>
<script type='text/javascript' src='https://watchtvepisodes.me/wp-includes/js/wp-embed.min.js'></script>
<div id="oscuridad"></div>
</body>
</html>
