<footer class="main">
    <div class="fbox">
        <div class="fcmpbox">
            <div class="primary">
                <div class="columenu">
                </div>
                <div class="fotlogo">
                    <div class="logo"><img src="/static/logo.png"
                                           alt="OYO Anime"/>
                    </div>
                </div>
            </div>

            <span class="top-page"><a id="top-page"><i class="icon-angle-up"></i></a></span>
            <div class="fmenu">
                <ul id="menu-jos-dreapta" class="menu">
                    <li id="menu-item-329"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="/">Zuhause</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
<script type='text/javascript'>jQuery(document).ready(function ($) {
        $('#featured-titles').owlCarousel({
            autoPlay: 3500,
            items: 4,
            stopOnHover: true,
            pagination: false,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [980, 4],
            itemsTablet: [768, 3],
            itemsTabletSmall: false,
            itemsMobile: [479, 2]
        });
        $('.nextf').click(function () {
            $('#featured-titles').trigger('owl.next')
        });
        $('.prevf').click(function () {
            $('#featured-titles').trigger('owl.prev')
        });
        $('#dt-episodes').owlCarousel({
            autoPlay: false,
            pagination: false,
            items: 3,
            stopOnHover: true,
            itemsDesktop: [900, 3],
            itemsDesktopSmall: [750, 3],
            itemsTablet: [500, 2],
            itemsMobile: [320, 1]
        });
        $('.next').click(function () {
            $('#dt-episodes').trigger('owl.next')
        });
        $('.prev').click(function () {
            $('#dt-episodes').trigger('owl.prev')
        });
        $('#dt-seasons').owlCarousel({
            autoPlay: false,
            items: 5,
            stopOnHover: true,
            pagination: false,
            itemsDesktop: [1199, 5],
            itemsDesktopSmall: [980, 5],
            itemsTablet: [768, 4],
            itemsTabletSmall: false,
            itemsMobile: [479, 3]
        });
        $('.next2').click(function () {
            $('#dt-seasons').trigger('owl.next')
        });
        $('.prev2').click(function () {
            $('#dt-seasons').trigger('owl.prev')
        });
        $('#slider-movies').owlCarousel({
            autoPlay: false,
            items: 2,
            stopOnHover: true,
            pagination: true,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [600, 1],
            itemsMobile: [479, 1]
        });
        $('#slider-tvshows').owlCarousel({
            autoPlay: false,
            items: 2,
            stopOnHover: true,
            pagination: true,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [600, 1],
            itemsMobile: [479, 1]
        });
        $('#slider-movies-tvshows').owlCarousel({
            autoPlay: false,
            items: 2,
            stopOnHover: true,
            pagination: true,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [600, 1],
            itemsMobile: [479, 1]
        });
        $('.reset').click(function (event) {
            if (!confirm(dtGonza.reset_all)) {
                event.preventDefault()
            }
        });
        $('.addcontent').click(function (event) {
            if (!confirm(dtGonza.manually_content)) {
                event.preventDefault()
            }
        });
    });</script>
<script type='text/javascript'>
    var wpcf7 = {
        "apiSettings": {
            "root": "https:\/\/watchtvepisodes.me\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        }, "cached": "1"
    };
</script>
<script type='text/javascript'
        src='https://watchtvepisodes.me/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript'
        src='https://watchtvepisodes.me/wp-content/themes/dooplay/assets/js/min/front.scripts.2.2.0.js'></script>
<script type='text/javascript'>
    var dtGonza = {
        "api": "https:\/\/watchtvepisodes.me\/wp-json\/dooplay\/search\/",
        "glossary": "https:\/\/watchtvepisodes.me\/wp-json\/dooplay\/glossary\/",
        "nonce": "e17f2b22f3",
        "area": ".live-search",
        "button": ".search-button",
        "more": "View all results",
        "mobile": "false",
        "reset_all": "Really you want to restart all data?",
        "manually_content": "They sure have added content manually?",
        "loading": "Loading..",
        "loadingplayer": "Loading player..",
        "selectaplayer": "Select a video player",
        "playeradstime": null,
        "autoplayer": "1",
        "livesearchactive": ""
    };
</script>
<script type='text/javascript'
        src='https://watchtvepisodes.me/wp-content/themes/dooplay/assets/js/min/front.livesearch.2.2.0.js'></script>
<script type='text/javascript' src='https://watchtvepisodes.me/wp-includes/js/wp-embed.min.js'></script>
<div id="oscuridad"></div>
</body>
</html>
